@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #8c1919 !important;
    a{
        text-decoration: none;
    }
}
header{
    max-width: 1000px;
    margin: auto;
    img{
        max-width: 1000px;
        object-fit: cover;
    }
}

main{

    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    max-width: 700px;
    padding: 20px;

    h1{
        text-align: center;
        color: #ffffff;
        margin: 20px 0px 50px 0px;
        font-family: 'Montserrat', sans-serif;

    }

    div{
    text-align: center;
    font-family: 'Contrail One';
    font-size: 1.5em;
    color: #ffed00;
    margin: auto;
    background-color:  #e27c38;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    }
    div:hover{
        background-color: #f07421;
    }
}

footer{

    margin-top: 10px;

    div{
        text-align: center;
        color: #ffffff;

        h2{
            font-size: 1em;
            margin-bottom: 50px;
        }
        p{
            font-size: .5em;
        }
        span{
            color: #ffed00;
        }
    }
}

.bolaD{
    margin-top: -50px;
}

@media (max-width:600px){

}